@font-face {
    font-family: "Martel";
    font-weight: 400;
    src: url("fonts/Martel/martel-regular.woff2") format("woff2"),
        url("fonts/Martel/martel-regular.woff") format("woff"),
        url("fonts/Martel/martel-regular.tff") format("ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
    src: url("fonts/Lato/lato-regular.woff2") format("woff2"),
        url("fonts/Lato/lato-regular.woff") format("woff"),
        url("fonts/Lato/lato-regular.tff") format("ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
    src: url("fonts/Lato/lato-light.woff2") format("woff2"),
        url("fonts/Lato/lato-light.woff") format("woff"),
        url("fonts/Lato/lato-light.tff") format("ttf");
}


/* CSS Reset 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Base Settings */
:root {
    --clr-text: hsl(356, 30%, 9%);
    --clr-background: hsl(0, 0%, 100%);
    --clr-far-background: hsl(0, 0%, 96%);
    --clr-accent: #16d0ae;
    --step--2: clamp(0.6913rem, 0.6408rem + 0.2522vw, 0.8363rem);
    --step--1: clamp(0.7775rem, 0.7105rem + 0.3348vw, 0.97rem);
    --step-0: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
    --step-1: clamp(0.9844rem, 0.8729rem + 0.5576vw, 1.305rem);
    --step-2: clamp(1.1075rem, 0.9662rem + 0.7065vw, 1.5138rem);
    --step-3: clamp(1.2456rem, 1.068rem + 0.888vw, 1.7563rem);
    --step-4: clamp(1.4019rem, 1.181rem + 1.1043vw, 2.0369rem);
    --step-5: clamp(1.5769rem, 1.3034rem + 1.3674vw, 2.3631rem);
}

h1 {
    font-family: "Lato", sans-serif;
    letter-spacing: .1ch;
    font-size: var(--step-5);
}
h2 {
    font-family: "Lato", sans-serif;
    letter-spacing: .1ch;
    font-size: var(--step-4);
}
h3 {
    font-family: "Lato", sans-serif;
    letter-spacing: .05ch;
    font-size: var(--step-3);
}
h4 {
    font-family: "Lato", sans-serif;
    letter-spacing: .05ch;
    font-size: var(--step-2);
}
h5 {
    font-family: "Lato", sans-serif;
    font-size: var(--step-1);
}
p {
    font-size: var(--step-0);
    text-wrap: balance;
}
li {
    font-size: var(--step-0);
}
span {
    font-size: var(--step--1);
}

html {
    color-scheme: light;
}

body {
    font-family: "Lato", sans-serif;
}

/* General Utils: */
.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.side_by_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 650px) {
    .side_by_side {
        flex-direction: row;
        align-items: start;
    }

    .side_by_side {
      margin-top: 0;
    }
}

/* Individual styles */
main {
    margin: auto;
    max-width: 90ch;
    padding: 2ch;
}

section {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--clr-accent);
  margin-bottom: 1rem;
}

.title{
    padding-bottom: 1rem;
    text-align: left;
}

/* -- header */
/* ----- Desktop header */
header {
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin: auto;
    max-width: 86ch;
    overflow: hidden;
}

header button {
  visibility: hidden;
}

#nav__top {}
#nav__tray {}

.logo {
    margin: auto;
    padding-bottom: 1rem;
}

.logo img {
    max-width: 10ch;
    max-height: 12ch;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav a {
  font-family: "Lato", sans-serif;
  font-size: var(--step-1);
}


nav:before, nav:after {
  position: relative;
  top: 1.25ch;
  content: "";
  width: 100ch;
  height: 0;
  border: 1px solid var(--clr-accent);
}

nav a {
    text-decoration: none;
    color: black;
}

/* ----- Mobile header */
@media (max-width: 650px) {
  header {
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--clr-accent);
  }

  header button {
    --btn-size: 3rem;
    visibility: visible;
    width: var(--btn-size);
    height: var(--btn-size);
    border: none;
  }

  #nav__toggle {
    background: url("assets/hamburger.svg") no-repeat;
    background-size: var(--btn-size) var(--btn-size);
  }

  #nav__toggle[data-visible="true"] {
    background: url("assets/cross.svg") no-repeat;
    background-size: var(--btn-size) var(--btn-size);
  }

  #nav__tray {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: transform 200ms ease-out;
  }

  #nav__tray[data-visible="true"] {
    transform: translateX(0%);
  }

  nav {
    gap: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  nav a {
    padding: min(2vh, 2rem);
    font-size: var(--step-4);
  }

  nav a:hover {
    background-color: rgba(0,0,0,0.1);
  }

  nav:before, nav:after {
    border: none;
  }

  .logo {
    margin: 0;
    padding: 0;
  }

  .logo img {
      max-width: 5ch;
      max-height: 6ch;
  }

  #nav__top {
    display: flex;
    margin-inline: 2rem;
    justify-content: space-between;
    align-items: center;
  }
}

/* Skills Grid */
.skills {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: .5rem;
}

@media (max-width: 650px) {
    .skills {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 350px) {
    .skills {
        grid-template-columns: auto;
    }
}

.skills > div {
    background-color: var(--clr-far-background);
    padding-left: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 5px;

}

.experience {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.experience .experience__company {
}

.experience__title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience__title > div {
    font-size: var(--step-2);
}

.card {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.card__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__title > div {
    font-size: var(--step-2);
}

.font-light {
    font-weight: 100;
}

/* -- hero headshot (Index page) */
.hero__headshot img {
    border-radius: .5rem;
    max-width: 70vw;
}

@media (min-width: 650px) {
    .hero__headshot img {
        max-width: 25ch;
    }
}
